{{#each records}}
    <a href="/records/{{this.Number}}">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Bản ghi số: {{this.Number}}</h5>
                <p class="card-text">Ngày kiểm tra: {{this.Dateofexa}}</p>
                <p class="card-text">Kết quả: {{this.Result}}</p>
            </div>
        </div>
    </a>
{{/each}}
