{{!-- {{#each list_dpatients}} --}}
    <a href="/doctor/create" class="btn btn-link">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><strong>STT: {{this.RoomID}}</strong>S</h5>
                <h5 class="card-title"><strong>Triệu chứng:</strong> {{this.Symption}}</h5>
                <h5 class="card-title"><strong>Tiền sử bệnh:</strong> {{this.Anamnesis}}</h5>
                <h5 class="card-text"><strong>Yêu cầu khám</strong> <h6>{{this.Request}}</h6></h5>
            </div>
        </div>
    </a>
    
{{!-- {{/each}} --}}