<div class="container">
    <div class="row mt-5">
        <div class="col-md-6">
            <h2>Đăng Nhập</h2>
            <form action="/login" method="POST">
                <div class="form-group">
                    <label for="Username">Tên đăng nhập</label>
                    <input type="text" class="form-control" id="Username" name="Username" required>
                </div>
                <div class="form-group">
                    <label for="Password">Mật khẩu</label>
                    <input type="Password" class="form-control" id="Password" name="Password" required>
                </div>
                <button type="submit" class="btn btn-primary">Đăng Nhập</button>
                <a href="/register">Bấm vào đây để đăng ký</a>
            </form>
        </div>
    </div>
</div>