<div class="container mt-5">
    <h1>Patient Information</h1>
    <form action="/patient/store" method="post">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" maxlength="20">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" maxlength="20">
        </div>
        <div class="mb-3">
            <label for="userfirstname" class="form-label">First Name</label>
            <input type="text" class="form-control" id="userfirstname" name="userfirstname" maxlength="255">
        </div>
        <div class="mb-3">
            <label for="userlastname" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="userlastname" name="userlastname" maxlength="255">
        </div>
        <div class="mb-3">
            <label for="date" class="form-label">Date</label>
            <input type="date" class="form-control" id="date" name="date">
        </div>
        <div class="mb-3">
            <label for="cccd" class="form-label">CCCD</label>
            <input type="number" class="form-control" id="cccd" name="cccd" maxlength="10">
        </div>
        <div class="mb-3">
            <label for="useradress" class="form-label">Address</label>
            <input type="text" class="form-control" id="useradress" name="useradress" maxlength="2000">
        </div>
        <div class="mb-3">
            <label for="userphone" class="form-label">Phone</label>
            <input type="tel" class="form-control" id="userphone" name="userphone" maxlength="12">
        </div>
        <div class="mb-3">
            <label for="sex" class="form-label">Sex</label>
            <input type="text" class="form-control" id="sex" name="sex" maxlength="15">
        </div>
        <div class="mb-3">
            <label for="nation" class="form-label">Nation</label>
            <input type="text" class="form-control" id="nation" name="nation" maxlength="50">
        </div>
        <div class="mb-3">
            <label for="religon" class="form-label">Religion</label>
            <input type="text" class="form-control" id="religon" name="religon" maxlength="50">
        </div>
        <div class="mb-3">
            <label for="job" class="form-label">Job</label>
            <input type="text" class="form-control" id="job" name="job" maxlength="50">
        </div>
        <div class="mb-3">
            <label for="insurancecode" class="form-label">Insurance Code</label>
            <input type="text" class="form-control" id="insurancecode" name="insurancecode" maxlength="25">
        </div>
        <div class="mb-3">
            <label for="familyfirstname" class="form-label">Family First Name</label>
            <input type="text" class="form-control" id="familyfirstname" name="familyfirstname" maxlength="255">
        </div>
        <div class="mb-3">
            <label for="familylastname" class="form-label">Family Last Name</label>
            <input type="text" class="form-control" id="familylastname" name="familylastname" maxlength="255">
        </div>
        <div class="mb-3">
            <label for="familyadress" class="form-label">Family Address</label>
            <input type="text" class="form-control" id="familyadress" name="familyadress" maxlength="2000">
        </div>
        <div class="mb-3">
            <label for="familyphone" class="form-label">Family Phone</label>
            <input type="tel" class="form-control" id="familyphone" name="familyphone" maxlength="12">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>